<div class="abannerthree">
  <div class="containerseven">
    <h1 class="jTitle text-center">Add a booking here for <%= @car.model %>!</h1>
  </div>
</div>

<div class="containernine">
  <%= simple_form_for [@car, @booking] do |f| %>
      <%= f.input :comments, as: :text %>
      <%= f.input :date, html5: true %>
      <%= f.submit "Add Booking", class: "btn btn-success btn-block" %>
      <% end %>
</div>

<div class="abuttonstwo">
  <%= link_to 'Return To car', car_path(@car), class: "btn btn-warning" %>
</div>
