<div class="title">
  <h1>Vintage Cars for Broke Nerds</h1>
  <h4>Your Car has been booked and confirmed</h4>
</div>
<br>
<div class="car card booking">
  <br>
  <h1>Image of car</h1>
  <br>
<p> your reservation of the car "***<%= @booking.car.model %>****" has ben confirmd </p>
<h3>cars information</h3>
  <ul>
    <li><%= @booking.user.email %></li>
    <li><%= @booking.car.location %> </li>
    <li><%= @booking.date %></li>
    <li><%= @booking.car.price %></li>
    <li><%= @booking.comments %> </li>
  </ul>
  <%= link_to 'Return to bookings', bookings_path %>
  <%= link_to "Return to home page", root_path, class: "btn btn-success btn-lg"%>

</div>


<%= link_to "Remove a booking",
            booking_path(@booking),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
