<div class="abannertwo">
  <div class="acontainerfive">
    <h1>Edit <%= @car.model %></h1>
  </div>
</div>

<div class="containersix">
        <%= simple_form_for(@car) do |f| %>
          <%= f.input :model %>
          <%= f.input :year %>
          <%= f.input :price %>
          <%= f.input :location %>
          <%= f.input :description, as: :text %>
          <%= f.submit "Update Car", class: "btn btn-success btn-block" %>
          <% end %>
</div>

    <div class="abuttons">
      <div class="row">
        <div class="col-6">
      <%= link_to 'Back To Home Page', root_path, class: "btn btn-success btn-lg btn-block" %>
        </div>
        <div class="col-6">
      <%= link_to 'Return To Car', car_path(@car), class: "btn btn-success btn-lg btn-block" %>
        </div>
    </div>
  </div>