<div class="lpages">
  <div class="lcarimage">
    <div class="lTitle">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>vintage cars</h1>
    
  </div>
</div>  
    </div>
  </div>
  <br>
  
      <!-- Have to look up how to create the searchbar -->
      <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a car"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

  


  <br>
  <button type="button" class="btn btn-success"><%= link_to "Go to your bookings", bookings_path %></button>
  <button type="button" class="btn btn-outline-success">+<%= link_to "Add a new car", new_car_path %></button>
  <div class="lcontainer">
    <div class="row d-flex justify-content-center">
      <% @cars.each do |car| %>
        <div class="card col-12 col-sm-6 col-md-4 col-lg-3" id="card">
          <div class="lcar-card">
            <%#= cl_image_tag("https://res.cloudinary.com/ddep1altx/image/upload/v1605800751/samples/cloudinary-group.jpg",
                width: 400, height: 300, crop: :fill) %>
            <%= image_tag "logo.png", class: "car-image" %>
            <div class="lcar-crad-info">
              <h4><%= link_to car.model, car_path(car)%>| <%= car.year %></h4>
              <h5><%= car.location %></h5>
              <p><%= car.description %></p>
              <div class="lcardavatar">
              <h4 class="lcar-card-price"><%= car.price %> </h4>
              <%= image_tag "logo.png", class: " avatar-bordered" %>
              <!-- <img src="../assets/images/logo.png" class="card-car-owner avatar-bordered"/> -->
            </div>
          </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
