<div class="abannerthree">
  <div class="containerseven">
    <h1 class="jTitle text-center">New Car</h1>
  </div>
</div>

<div class="containereight">
    <%= simple_form_for(@car) do |f| %>
      <%= f.input :model %>
      <%= f.input :year %>
      <%= f.input :price %>
      <%= f.input :location %>
      <%= f.input :description, as: :text %>
      <%#= f.input :photo, as: :file %>
      <%= f.submit "Add Car", class: "btn btn-success btn-block" %>
      <% end %>
    </div>

    <div class="abuttonstwo">
      <%= link_to 'Back to home page', root_path, class: "btn btn-warning" %>
    </div>
